<div class="container">
    <h4>Reactive Driven Form</h4>
    <form [formGroup]="reactiveForm">
        <div class="form-control row">          
            <div class="form-control row">
              <label>Product ID</label>
              <input type="number" formControlName="productId"/>
              <span style="color:red" *ngIf="reactiveForm.hasError('required','productId')">Product ID Required</span>
              <span style="color:red" *ngIf="reactiveForm.hasError('min','productId')">Product ID Must be greater than 100</span>
            </div>
            <br />
            <div class="form-control row">
              <label>Product Name</label>
              <input type="text" formControlName="productName" />
              <span style="color:red" *ngIf="reactiveForm.hasError('required','productName')">Product Name Required</span>
              <span style="color:red" *ngIf="reactiveForm.controls['productName'].hasError('minlength')">Minimum Length of name should be 5</span>
            </div>
            <br />
            <div class="form-control row">
              <label>Cost</label>
              <input type="number" formControlName="cost" />
              <span style="color:red" *ngIf="reactiveForm.hasError('required','cost')">Cost Required</span>
              <span style="color:red" *ngIf="reactiveForm.hasError('min','cost')">Cost Must be greater than 500</span>
            </div>
            <br />
            <div class="form-control row">
              <label>Quantity</label>
              <input type="number" formControlName="quantity" />
              <span style="color:red" *ngIf="reactiveForm.hasError('required','quantity')">Quantity Required</span>
              <span style="color:red" *ngIf="reactiveForm.hasError('min','quantity')">Quantity Must be greater than 5</span> 
              <span style="color:red" *ngIf="reactiveForm.hasError('max','quantity')">Max Quantity must be 20 </span>                           
            </div>
            <br />
            <div class="form-control row">
              <label>Bill Amount</label>
              <input formControlName="billAmt" />               
            </div>
            <br />
            <div class="form-control row">
              <label>Discount</label>
              <input formControlName="discount" />   
            </div>
            <br/>
            <div class="form-control row">
              <label>Net Bill Amount</label>
              <input formControlName="netBillAmt" />   
            </div>
            <br/>
            <div class="form-control row">
              <button type="button" [disabled]="!reactiveForm.valid" (click)="calculateVal()">Calculate</button>
            </div>
          </div>
      </form>
</div>