  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <form #myform="ngForm">
        <div class="form-group">
          <h1>{{title}}</h1>
          <label class="col-form-label">Reminder</label>
          <input type="text" class="form-control" name="reminder" [(ngModel)]="reminderVal">
          <label class="col-form-label">From Time</label>
          <input type="time" name="fromTimeData" [(ngModel)]="fromTime">
          <label class="col-form-label">End Time</label>
          <input type="time" name="endTimeData" [(ngModel)]="endTime">
        </div>
        <div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="addReminder()">Send Reminder</button>       
      </div>
      <div *ngIf="day['reminder']?.length != 0">
        <table border="1" id="customers">
          <tr>
            <th>Reminder</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
          </tr>
          <tr
            *ngFor="let data of day['reminder'] ; let i = index;">
            <td>{{data.reminder}}</td>
            <td>{{data.fromTime}}</td>
            <td>{{data.endTime}}</td>
            <td>
              <button type="submit" class="btn btn-primary" [disabled]="data.isEdit == false" (click)="editReminder(data)">Edit</button>
              <button type="submit" class="btn btn-primary" [disabled]="data.isDelete == false" (click)="deleteReminder(data)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      </form>
    </div>  
  </div>
<div class="calendar-container mt-5 mx-auto ">
  <div fxLayout="row" fxLayoutAlign="center center">
    <button type="button" class="btn btn-outline-primary" (click)="changeMonth('P')"><</button><br/>    
    <span class="display-date bold">{{monthYr}}</span>
    <button type="button" class="btn btn-outline-primary" (click)="changeMonth('N')">></button><br />
</div>
    <div #calendar>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="15px"
            class="cal-date-picker">
            <div fxLayoutAlign="start center" fxLayoutAlign.xs="start stretch" fxLayoutGap="15px">
            </div>
        </div>
        <div class="week-header">
            <div class="week-day" *ngFor="let name of namesOfDays">
                {{ name }}
            </div>
        </div>
        <div class="week" *ngFor="let week of weeks"> 
            <div *ngFor="let day of week" [ngClass]="{'today': day.today, 'selected': day.selected , 'bkcolour': day.background}"  (click)="day.mDate != '' ? selectDate(day) : ''" class="day word-break-all">
            <ng-container *ngIf="day?.mDate.format('MMMM') == currentDate?.format('MMMM')">
                <p class="big-font" [style]="{ color: day.colorCode }" *ngIf="day.mDate != ''">
                    {{ day.mDate.date() }}
                </p>
                <div *ngIf="day['reminder']?.length != 0">
                  <p *ngFor="let rem of day['reminder']">
                    {{rem.reminder}}
                  </p>
                </div>               
            </ng-container>
            </div>
        </div>
    </div>
</div>