<h1>Custom Pipes</h1>
<br/>
<span>{{userName}}</span>
<br/>
<div>
<input type="number" [(ngModel)]="newDigit" matInput min="0" placeholder="Number" (keyup.enter)="addNewDigit()" #input />
<button mat-raised-button (click)="addNewDigit()" color="primary">Add Digit</button>
</div>

<div>
  <div>Impure Sort</div>
<select placeholder="Select" appearance="outline">
  <option *ngFor="let num of randomNumb | fieldsort" value="{{num}}">{{num}}</option>
</select>
<br/>
<div>Pure Sort</div>
<select placeholder="Select" appearance="outline">
  <option *ngFor="let num of randomNumb | impureSort" value="{{num}}">{{num}}</option>
</select>
</div>
<br/>
<br/>
<div>
<input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
<table border="1" id="customers">
  <tr>
    <th>User<i (click)="onSortClick($event,'User')" class="my-icon fa fa-chevron-up"></i></th>
    <th>Auth Id<i (click)="onSortClick($event,'AuthID')" class="my-icon fa fa-chevron-up"></i></th>
    <th>Country<i (click)="onSortClick($event,'Mobile')" class="my-icon fa fa-chevron-up"></i></th>
  </tr>
  <tr *ngFor="let lock of locked | paginate: config | LockFilter:query:filterMetadata; let i = index; let first = first; let last = last;trackBy: trackElement">
    <td>{{lock.User}}</td>
    <td>{{lock.AuthID}}</td>
    <td>{{lock.Mobile}}</td>
  </tr>
</table>
<div>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<div>Length = {{filterMetadata.count}}</div>


    <!-- <div class="panel panel-default col-xs-12 col-sm-11" *ngFor="let lock of locked | LockFilter: query">    
    <label [for]="lock.ID" class="check-label"></label>
    <h3 class="card-text name">{{lock.User}}</h3>
    <h3 class="card-text auth">{{lock.AuthID}}</h3>
    <h3 class="card-text form">{{lock.FormName}}</h3>
    <h3 class="card-text win">{{lock.WinHandle}}</h3>
</div> -->
</div>