<div class="cobtainer"  [formGroup]="reactiveForm">
    <h4>Behaviour Subject</h4>
    <div class="form-group row">
        <label>Categories</label>
        <select class="btn col-sm-10 dropdown-toggle btn-outline-info" formControlName="behData" (change)="updateInputs()" data-toggle="dropdown" placeholder="Select" appearance="outline">
          <option *ngFor="let beh of behObj" [ngValue]="beh">{{beh}}
          </option>
        </select>
      </div>
</div>
<div class="form-group row">
  <app-view-company></app-view-company>
</div>

