<div class="container"  infiniteScroll [infiniteScrollDistance]="0.5" (scrolled)="onScroll($event)">
    <h4>Infinite Scroll!!</h4>
        <table border="1" id="customers">
            <tr>
                <th>Country Name</th>
                <th>Country code</th>
                <th>Currency code</th>
            </tr>
            <tr *ngFor="let country of countryDet">
                <td>{{country?.countryName}}</td>
                <td>{{country?.countryCode}}</td>
                <td>{{country?.currencyCode}}</td>
            </tr>
        </table>
</div>