<div>
  <form [formGroup]="employeeForm">
    <div id="grid" class="parent" formArrayName="employeeArray">
      <div class="child" *ngFor="let control of employeeForm.get('employeeArray')['controls'] | paginate: config; let i = index;"
        [formGroupName]="fieldGlobalIndex(i)">
        <div>
          <label for="empId">Employee ID</label>
          <input name="empId" formControlName="id" />
        </div>
        <br />
        <div>
          <label for="lastName">Last Name</label>
          <input name="lastName" formControlName="lastName" />
        </div>
        <br />
        <div>
          <label for="firstName">First Name</label>
          <input name="firstName" formControlName="firstName" />
        </div>
        <br />
        <div>
          <label for="title">Title</label>
          <select formControlName="title" placeholder="Select" appearance="outline" size="3">
            <option value="Sales Manager">Sales Manager</option>
            <option value="Sales Representative">Sales Representative</option>
            <option value="Team Leader">Team Leader</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Marketing Executive">Marketing Executive</option>
          </select>
        </div>
        <br />
        <div>
          <label for="courtesy">Title Of Courtesy</label>
          <select formControlName="titleOfCourtesy" placeholder="Select" appearance="outline">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
          </select>
        </div>
        <br />
        <div>
          <label>Gender</label>
          <input type="radio" value="M" formControlName="gender">Male         
          <input type="radio" value="F" formControlName="gender">Female
        </div>
        <br/>
        <div>
          <label>Has Passport</label>
          <input type="checkbox" [checked]="control['value']['hasPassport']" (change)="onSelectionChange(control['value'],i)" formControlName="hasPassport">
        </div>
        <br/>
        <div>
          <label>Date Of Joining</label>
          <input type="datetime-local" formControlName="dateOfJoining">
        </div>
        <br/>
        <div>
          <label for="firstName">Salary</label>
          <input type="number" formControlName="salary">
        </div>
        <br/>
        <div>
          <button type="button" *ngIf="control.disabled" (click)="editForm(i)">Edit</button>
          <button type="button" *ngIf="!control.disabled" (click)="updateForm(i)">Update</button>
          <button type="button" *ngIf="!control.disabled" (click)="cancelForm(i)">Cancel</button>
          <button type="button" *ngIf="!deleteClicked" (click)="deleteForm(i)">Delete</button>
        </div>
      </div>
    </div> 
  </form>
</div>
<br />
<div>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<!-- For Insertion -->
<form [formGroup]="reactiveForm">
<div class="child">
<div>
  <label for="empId">Employee ID</label>
  <input type="number" name="empId" formControlName="empId" />
</div>
<br />
<div>
  <label for="lastName">Last Name</label>
  <input type="text" maxlength="20" name="lastName" formControlName="empLast" />
</div>
<br />
<div>
  <label for="firstName">First Name</label>
  <input type="text" maxlength="20" name="firstName" formControlName="empFirst" />
</div>
<br />
<div>
  <label for="title">Title</label>
  <select formControlName="empTitle" placeholder="Select" appearance="outline" size="3">
    <option value="NA" selected>Please Select</option>
    <option value="Sales Manager">Sales Manager</option>
    <option value="Sales Representative">Sales Representative</option>
    <option value="Team Leader">Team Leader</option>
    <option value="Project Manager">Project Manager</option>
    <option value="Marketing Executive">Marketing Executive</option>
  </select>
</div>
<br />
<div>
  <label for="courtesy">Title Of Courtesy</label>
  <select formControlName="empCourtesy" placeholder="Select" appearance="outline" size="3">
    <option value="NA" selected>Please Select</option>
    <option value="Mr">Mr</option>
    <option value="Mrs">Mrs</option>
    <option value="Ms">Ms</option>
  </select>
</div>
<br />
<div>
  <label>Gender</label>
  <input type="radio" value="M" formControlName="gender">Male         
  <input type="radio" value="F" formControlName="gender">Female
</div>
<br/>
<div>
  <label>Has Passport</label>
  <input type="checkbox" [checked]="false" formControlName="empHasPass">
</div>
<br/>
<div>
  <label>Date Of Joining</label>
  <input type="datetime-local" formControlName="empDate">
</div>
<br/>
<div>
  <label for="firstName">Salary</label>
  <input type="number" formControlName="empSal">
</div>
<br/>
<div>
  <button type="button" [disabled]="!reactiveForm.get('empDate').value || !reactiveForm.get('empFirst').value||   !reactiveForm.get('gender').value ||  !reactiveForm.get('empHasPass').value ||  !reactiveForm.get('empId').value || !reactiveForm.get('empLast').value || reactiveForm.get('empTitle').value == 'NA' || reactiveForm.get('empCourtesy').value == 'NA' ||  !reactiveForm.get('empSal').value" (click)="insertFormData()">Insert</button>
  <button type="button" (click)="cancelInsert()">Cancel Insertion</button>
</div>
</div>
</form>