<nav class="nav">
    <a class="nav-link" routerLink="./landing">Landing</a>
    <a class="nav-link" routerLink="./custom-directive">Custom Directive</a>
    <a class="nav-link" routerLink="./custom-pipe">Custom Pipe</a>
    <a class="nav-link" routerLink="./life-cycle/null">Life Cycle</a>
    <a class="nav-link" routerLink="./orders">Orders</a>
    <a class="nav-link" routerLink="./orders-accordian">Order Accordian</a>
    <a class="nav-link" routerLink="./multi-level">Multi Level Accordian</a>
    <a class="nav-link" routerLink="./bulk-delete">Bulk Delete</a>
    <a class="nav-link" routerLink="./bulk-insert">Bulk Insert</a>
    <a class="nav-link" routerLink="./bulk-update">Bulk Update</a>
    <a class="nav-link" routerLink="./crud-opr">Crud Operation</a>
    <a class="nav-link" routerLink="./net-sal-radio">Net Salary Radio</a>
    <a class="nav-link" routerLink="./net-sal-check">Net Salary Check</a>
    <a class="nav-link" routerLink="./list-box">List Box</a>
    <a class="nav-link" routerLink="./infinite-scroll">Infinite Scroll</a>
    <a class="nav-link" routerLink="./cookie-handler">Cookie Handler</a>
    <a class="nav-link" routerLink="./charts">Charts</a>
    <a class="nav-link" routerLink="./behSub">Behavious Subjects</a>
    <a class="nav-link" routerLink="./textarea-form">Textarea Form</a>
    <a class="nav-link" routerLink="./template-textarea-form">Template Textarea Form</a>
    <a class="nav-link" routerLink="./form-builder">Form Builder</a>
    <a class="nav-link" routerLink="./promise-observable">Promise-Observable</a>
    <a class="nav-link" routerLink="./parameterized">Parameterized Routing</a>
    <a class="nav-link" routerLink="./routing-features" routerLinkActive="active">Routing features</a>
    <a class="nav-link" routerLink="./bug" routerLinkActive="active">Bug Resolution</a>
    <a class="nav-link" routerLink="./check-template">Check box Template</a>
    <a class="nav-link" routerLink="./export">Export</a>
    <a class="nav-link" routerLink="./custom-calendar">Custom Calendar</a>
    <a class="nav-link" routerLink="./new-order-accordian">New Accordian</a>
</nav>
<app-loading-spinner></app-loading-spinner>
<router-outlet></router-outlet>