<form [formGroup]="reactiveForm">
<div>
  <select formControlName="currencyCode" placeholder="Select" appearance="outline">
    <option *ngFor="let countryDet of countryDetObj" value="{{countryDet?.currencyCode}}">{{countryDet?.countryName}}</option>
  </select>
  <input type="text" [value]="reactiveForm.get('currencyCode').value" disabled>
</div>
<br/>
<div>
  <select placeholder="Select" appearance="outline" formControlName="upperAlpha">
    <option *ngFor="let upLet of upperLetterObj" value="{{upLet}}">{{upLet}}</option>
  </select>
  <select placeholder="Select" appearance="outline">
    <option *ngFor="let loLet of lowerLetterObj" value="{{loLet}}">{{loLet}}</option>
  </select>
  <select placeholder="Select" appearance="outline">
    <option *ngFor="let num of numberObj" value="{{num}}">{{num}}</option>
  </select>
  <button type="button" [disabled]="upperLetterObj.length>0 || lowerLetterObj.length>0 || numberObj.length>0"  (click)="initializeList()">RESET LIST</button>
</div>
<br/>
<div>
  <input type="text" [value]="upperLetterObj?.length" disabled>
  <input type="text" [value]="lowerLetterObj?.length" disabled>
  <input type="text" [value]="numberObj?.length" disabled>
  <button type="button" (click)="clearDetails()">CLEAR LIST</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Delete" formControlName="inputData">
  <button type="button" [disabled]="!reactiveForm.get('inputData').value" (click)="applyOperation('D')">DELETE ITEM</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Insert" formControlName="inputDataForInsertion">
  <input type="number" placeholder="Enter Data To Insert" formControlName="position">
  <button type="button" [disabled]="!reactiveForm.get('inputDataForInsertion').value" (click)="insertItemInUpperList()">INSERT ITEM</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Select" formControlName="selectDataForInsertion">
  <button type="button" [disabled]="!reactiveForm.get('selectDataForInsertion').value" (click)="applyOperation('S')">SELECT ITEM</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Update" formControlName="initialData">
  <input type="text" placeholder="Enter Data To Update" formControlName="finalData">
  <button type="button" [disabled]="!reactiveForm.get('initialData').value || !reactiveForm.get('finalData').value"(click)="applyOperation('U')">UPDATE ITEM</button>
</div>
<br/>
<div>
  <input type="number" placeholder="Amount" formControlName="amount">
  <select formControlName="fromCurr" placeholder="Select" appearance="outline">
    <option *ngFor="let curr of CurrencyObj" value="{{curr}}">{{curr}}</option>
  </select>
  <select formControlName="toCurr" placeholder="Select" appearance="outline">
    <option *ngFor="let curr of CurrencyObj" value="{{curr}}">{{curr}}</option>
  </select>
  <button type="button" [disabled]="!reactiveForm.get('amount').value || !reactiveForm.get('fromCurr').value || !reactiveForm.get('toCurr').value || reactiveForm.get('fromCurr').value == reactiveForm.get('toCurr').value" (click)="convertCurrency()">CONVERT</button>
</div>
<br/>
<div *ngIf="conversionResult">
  <span>{{reactiveForm.get('amount').value}} {{reactiveForm.get('fromCurr').value}} =</span><br/>
  <span>{{conversionResult}} {{reactiveForm.get('toCurr').value}}</span><br/>
  <span>1 {{reactiveForm.get('fromCurr').value}} = {{baseAmt}} {{reactiveForm.get('toCurr').value}}</span>
</div>
</form>