<div>
  <select [(ngModel)]="currencyCode" placeholder="Select" appearance="outline">
    <option *ngFor="let countryDet of countryDetObj" value="{{countryDet?.currencyCode}}">{{countryDet?.countryName}}</option>
  </select>
  <input type="text" [(ngModel)]="currencyCode" disabled>
</div>
<br/>
<div>
  <select placeholder="Select" appearance="outline" [(ngModel)]="upperAlpha">
    <option *ngFor="let upLet of upperLetterObj" value="{{upLet}}">{{upLet}}</option>
  </select>
  <select placeholder="Select" appearance="outline">
    <option *ngFor="let loLet of lowerLetterObj" value="{{loLet}}">{{loLet}}</option>
  </select>
  <select placeholder="Select" appearance="outline">
    <option *ngFor="let num of numberObj" value="{{num}}">{{num}}</option>
  </select>
  <button type="button" [disabled]="upperLetterObj.length>0 || lowerLetterObj.length>0 || numberObj.length>0"  (click)="initializeList()">RESET LIST</button>
</div>
<br/>
<div>
  <input type="text" [value]="upperLetterObj?.length" disabled>
  <input type="text" [value]="lowerLetterObj?.length" disabled>
  <input type="text" [value]="numberObj?.length" disabled>
  <button type="button" (click)="clearDetails()">CLEAR LIST</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Delete" [(ngModel)]="inputData">
  <button type="button" [disabled]="!inputData" (click)="applyOperation('D')">DELETE ITEM</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Insert" [(ngModel)]="inputDataForInsertion">
  <input type="number" placeholder="Enter Data To Insert" [(ngModel)]="position">
  <button type="button" [disabled]="!inputDataForInsertion" (click)="insertItemInUpperList()">INSERT ITEM</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Select" [(ngModel)]="selectDataForInsertion">
  <button type="button" [disabled]="!selectDataForInsertion" (click)="applyOperation('S')">SELECT ITEM</button>
</div>
<br/>
<div>
  <input type="text" placeholder="Enter Data To Update" [(ngModel)]="initialData">
  <input type="text" placeholder="Enter Data To Update" [(ngModel)]="finalData">
  <button type="button" [disabled]="!initialData || !finalData"(click)="applyOperation('U')">UPDATE ITEM</button>
</div>
<br/>
<div>
  <input type="number" placeholder="Amount" [(ngModel)]="amount">
  <select [(ngModel)]="fromCurr" placeholder="Select" appearance="outline">
    <option *ngFor="let curr of CurrencyObj" value="{{curr}}">{{curr}}</option>
  </select>
  <select [(ngModel)]="toCurr" placeholder="Select" appearance="outline">
    <option *ngFor="let curr of CurrencyObj" value="{{curr}}">{{curr}}</option>
  </select>
  <button type="button" [disabled]="!amount || !fromCurr || !toCurr || fromCurr == toCurr" (click)="convertCurrency()">CONVERT</button>
</div>
<br/>
<div *ngIf="conversionResult">
  <span>{{amount}} {{fromCurr}} =</span><br/>
  <span>{{conversionResult}} {{toCurr}}</span><br/>
  <span>1 {{fromCurr}} = {{baseAmt}} {{toCurr}}</span>
</div>