<div class="container">
<table border="1" id="customers">
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Company Name</th>
      <th>Product Name</th>
      <th>User Price</th>
      <th>Quantity</th>
      <th>Bill Amount</th>
      <th>Running Total</th>
      <th>Running Order Total</th>
    </tr>
    <tr *ngFor="let order of orderDetObj">
      <td>{{order.ORDERID}}</td>
      <td>{{order.ORDERDATE | date: 'medium'}}</td>
      <td>{{order.COMPANYNAME}}</td>
      <td>{{order.PRODUCTNAME}}</td>
      <td>{{order.UNITPRICE | currency:'USD'}}</td>
      <td>{{order.QUANTITY == '' ? 'Sub Total' : order.QUANTITY}}</td>
      <td>{{order.BILLAMOUNT | currency:'USD'}}</td>
      <td>{{order.RUNNINGAMT | currency:'USD'}}</td>
      <td>{{order.RUNNINGTOTAL | currency:'USD'}}</td>
    </tr>    
  </table>
  <br/>
  <div style="float:right">Grand Total : {{grandTotal | currency:'USD'}}</div>
  <br/>
</div>
