<div class="container">
  <h4 *ngIf="categoryObj.length != 0">Category Data Will be Shown Below once Category Selected!!</h4>
    <table border="1" id="customers" *ngIf="categoryObj.length != 0">
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        <tr
          *ngFor="let cat of categoryObj">
          <td>{{cat.title}}</td>
          <td>{{cat.price}}</td>
          <td>{{cat.description}}</td>        
        </tr>
      </table>
      <h1 *ngIf="signalCategoryObj.length != 0">Signal Response</h1>
      <h4 *ngIf="signalCategoryObj.length != 0">Category Data Will be Shown Below once Category Selected!!</h4>
    <table border="1" id="customers" *ngIf="signalCategoryObj.length != 0">
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        <tr
          *ngFor="let cat of signalCategoryObj">
          <td>{{cat.title}}</td>
          <td>{{cat.price}}</td>
          <td>{{cat.description}}</td>        
        </tr>
      </table>
</div>

