<div class="container">
    <h4>Template Driven Form</h4>
    <form>
      <div class="form-control row">          
          <div class="form-control row">
            <label>Product ID</label>
            <input type="number" name="productId" [(ngModel)]="productId" (focus)="validate('productId')" (ngModelChange)="validate('productId')" required/>
            <span style="color:red" *ngIf="productFlag">{{productMsg}}</span>
          </div>
          <br />
          <div class="form-control row">
            <label>Product Name</label>
            <input type="text" name="productName" type="text" minlength="5" [(ngModel)]="productName" (focus)="validate('productName')" (ngModelChange)="validate('productName')" required/>
            <span style="color:red" *ngIf="productNameFlag">{{productNameMsg}}</span>
        </div>
          <br />
          <div class="form-control row">
            <label>Cost</label>
            <input type="number" name="cost" [(ngModel)]="cost" (focus)="validate('cost')" (ngModelChange)="validate('cost')" required/>
            <span style="color:red" *ngIf="costFlag">{{costMsg}}</span>
          </div>
          <br />
          <div class="form-control row">
            <label>Quantity</label>
            <input type="number" name="qty" [(ngModel)]="quantity" (focus)="validate('qty')" (ngModelChange)="validate('qty')"/>  
            <span style="color:red" *ngIf="qtyFlag">{{qtyMsg}}</span>           
          </div>
          <br />
          <div class="form-control row">
            <label>Bill Amount</label>
            <input name="billAmt" disabled="true" [(ngModel)]="billAmt"/>           
          </div>
          <br />
          <div class="form-control row">
            <label>Discount</label>
            <input name="discount" disabled="true" [(ngModel)]="discount"/> 
          </div>
          <br/>
          <div class="form-control row">
            <label>Net Bill Amount</label>
            <input name="netBillAmt" disabled="true" [(ngModel)]="netBillAmt"/>  
          </div>
          <br/>
          <div class="form-control row">
            <button type="button" (click)="calculateVal()" [disabled]="checkBtnDisable()">Calculate</button>
          </div>
        </div>
    </form>
</div>